In [1]:
# Import Libraries:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import altair as alt

/var/folders/1c/2l3t80fd68337kqkdg5w4dqr0000gn/T/ipykernel_80264/4281249191.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
dtypes = {
    "first_name": "category",
    "gender": "category",
    "type": "category",
    "state": "category",
    "party": "category",
}

In [12]:
df = pd.read_csv(
    "data/legislators-historical.csv",
    dtype=dtypes,
    usecols=list(dtypes) + ["birthday", "last_name"],
    parse_dates=["birthday"]
)

In [13]:
df

       last_name  first_name   birthday gender type state                party
0        Bassett     Richard 1745-04-02      M  sen    DE  Anti-Administration
1          Bland  Theodorick 1742-03-21      M  rep    VA                  NaN
2          Burke     Aedanus 1743-06-16      M  rep    SC                  NaN
3        Carroll      Daniel 1730-07-22      M  rep    MD                  NaN
4         Clymer      George 1739-03-16      M  rep    PA                  NaN
...          ...         ...        ...    ...  ...   ...                  ...
12136  Feinstein      Dianne 1933-06-22      F  sen    CA             Democrat
12137  Cicilline       David 1961-07-15      M  rep    RI             Democrat
12138    Stewart       Chris 1960-07-15      M  rep    UT           Republican
12139     Santos      George 1988-07-22      M  rep    NY           Republican
12140   McCarthy       Kevin 1965-01-26      M  rep    CA           Republican

[12141 rows x 7 columns]

In [14]:
df.dtypes

last_name             object
first_name          category
birthday      datetime64[ns]
gender              category
type                category
state               category
party               category
dtype: object

In [15]:
df.groupby("state")["last_name"].count()

/var/folders/1c/2l3t80fd68337kqkdg5w4dqr0000gn/T/ipykernel_80264/3780717102.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("state")["last_name"].count()

state
AK      17
AL     211
AR     117
AS       2
AZ      51
CA     375
CO      93
CT     240
DC       2
DE      97
DK       9
FL     166
GA     319
GU       5
HI      25
IA     206
ID      59
IL     493
IN     345
KS     143
KY     374
LA     199
MA     427
MD     306
ME     175
MI     300
MN     162
MO     337
MS     156
MT      52
NC     360
ND      44
NE     129
NH     181
NJ     361
NM      58
NV      56
NY    1479
OH     681
OK      94
OL       2
OR      92
PA    1057
PI      13
PR      19
RI     109
SC     252
SD      51
TN     302
TX     269
UT      56
VA     435
VI       4
VT     116
WA      97
WI     199
WV     121
WY      41
Name: last_name, dtype: int64

In [16]:
df.groupby("gender")["last_name"].count()

/var/folders/1c/2l3t80fd68337kqkdg5w4dqr0000gn/T/ipykernel_80264/1937943982.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("gender")["last_name"].count()

gender
F      271
M    11870
Name: last_name, dtype: int64

In [17]:
df.describe()

                            birthday
count                          11599
mean   1854-11-09 11:37:20.572463104
min              1721-04-19 00:00:00
25%              1813-07-12 12:00:00
50%              1850-04-23 00:00:00
75%              1895-01-07 00:00:00
max              1995-08-01 00:00:00

In [20]:
# groupng jointly on two columns, 
# finds the count of congressional members broken down by gender then state
df.groupby(["gender", "state"])["last_name"].count()

/var/folders/1c/2l3t80fd68337kqkdg5w4dqr0000gn/T/ipykernel_80264/755020895.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(["gender", "state"])["last_name"].count()

gender  state
F       AK         0
        AL         4
        AR         5
        AS         0
        AZ         5
                ...
M       VT       116
        WA        91
        WI       199
        WV       120
        WY        39
Name: last_name, Length: 116, dtype: int64

In [24]:
df.groupby("state", sort=False)["last_name"].count()

/var/folders/1c/2l3t80fd68337kqkdg5w4dqr0000gn/T/ipykernel_80264/966111394.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("state", sort=False)["last_name"].count()

state
DE      97
VA     435
SC     252
MD     306
PA    1057
MA     427
NJ     361
GA     319
NY    1479
NC     360
CT     240
VT     116
KY     374
RI     109
NH     181
TN     302
OH     681
MS     156
OL       2
IN     345
LA     199
IL     493
MO     337
AL     211
AR     117
ME     175
FL     166
MI     300
IA     206
WI     199
TX     269
CA     375
OR      92
MN     162
NM      58
NE     129
WA      97
KS     143
UT      56
NV      56
CO      93
WV     121
DK       9
AZ      51
ID      59
MT      52
WY      41
DC       2
ND      44
SD      51
OK      94
HI      25
PR      19
AK      17
PI      13
VI       4
GU       5
AS       2
Name: last_name, dtype: int64

### Air Quality

In [58]:
air_df = pd.read_csv("data/AirQualityUCI.csv", delimiter=",|;",
            parse_dates=[["Date", "Time"]],
            na_values=[-200],
            usecols=["Date", "Time", "CO(GT)", "T", "RH", "AH"]).rename(
                columns={
                    "CO(GT)": "co",
                    "Date_Time": "tstamp",
                    "T": "temp_c",
                    "RH": "rel_hum",
                    "AH": "abs_hum",
                    }
                ).set_index("tstamp")

/var/folders/1c/2l3t80fd68337kqkdg5w4dqr0000gn/T/ipykernel_80264/3602939872.py:1: FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
  air_df = pd.read_csv("data/AirQualityUCI.csv", delimiter=",|;",
/var/folders/1c/2l3t80fd68337kqkdg5w4dqr0000gn/T/ipykernel_80264/3602939872.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  air_df = pd.read_csv("data/AirQualityUCI.csv", delimiter=",|;",
/var/folders/1c/2l3t80fd68337kqkdg5w4dqr0000gn/T/ipykernel_80264/3602939872.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  air_df = pd.read_csv("data/AirQualityUCI.csv", delimiter=",|;",

In [59]:
air_df

                      co  temp_c  rel_hum  abs_hum
tstamp
10/03/2004 18.00.00  2.0  1692.0   1268.0     13.0
10/03/2004 19.00.00  2.0   972.0     13.0      3.0
10/03/2004 20.00.00  2.0  1555.0   1074.0     11.0
10/03/2004 21.00.00  2.0  1584.0   1203.0     11.0
10/03/2004 22.00.00  1.0  1490.0   1110.0     11.0
...                  ...     ...      ...      ...
nan nan              NaN     NaN      NaN      NaN
nan nan              NaN     NaN      NaN      NaN
nan nan              NaN     NaN      NaN      NaN
nan nan              NaN     NaN      NaN      NaN
nan nan              NaN     NaN      NaN      NaN

[9471 rows x 4 columns]

In [57]:
air_df.dtypes

co         float64
temp_c     float64
rel_hum    float64
abs_hum    float64
dtype: object

In [60]:
# count the number of nans in each column
air_df.isnull().sum()

co         1797
temp_c      480
rel_hum     480
abs_hum     480
dtype: int64

In [63]:
air_df = air_df.dropna()

In [64]:
air_df.head()

                      co  temp_c  rel_hum  abs_hum
tstamp
10/03/2004 18.00.00  2.0  1692.0   1268.0     13.0
10/03/2004 19.00.00  2.0   972.0     13.0      3.0
10/03/2004 20.00.00  2.0  1555.0   1074.0     11.0
10/03/2004 21.00.00  2.0  1584.0   1203.0     11.0
10/03/2004 22.00.00  1.0  1490.0   1110.0     11.0

In [65]:
air_df.index.min()

'01/01/2005 01.00.00'

In [66]:
air_df.index.max()

'31/10/2004 23.00.00'

In [67]:
df.index.day_name()

AttributeError: 'RangeIndex' object has no attribute 'day_name'