In [1]:
# Import Libraries:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

from datetime import datetime
import csv

In [2]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

In [3]:
#load data into a DataFrame object:
df = pd.DataFrame(data)

In [4]:
df

   calories  duration
0       420        50
1       380        40
2       390        45

In [5]:
#refer to the row index:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [6]:
print(df.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

In [7]:
df['average_calorie_burn'] = df['calories'] / df['duration']

In [8]:
df

   calories  duration  average_calorie_burn
0       420        50              8.400000
1       380        40              9.500000
2       390        45              8.666667

In [9]:
df.apply(lambda x: x+2)

   calories  duration  average_calorie_burn
0       422        52             10.400000
1       382        42             11.500000
2       392        47             10.666667

In [10]:
df

   calories  duration  average_calorie_burn
0       420        50              8.400000
1       380        40              9.500000
2       390        45              8.666667